In [72]:
import pandas as pd
import plotly.express as px

In [63]:
m = pd.read_csv('https://www.bde.es/webbde/es/estadis/infoest/series/be0113.csv', encoding="ISO-8859-1")

In [64]:
m1 = m[['NOMBRE DE LA SERIE', 'D_MESM1EELIPBIF']]
m1.set_index('NOMBRE DE LA SERIE', inplace=True)

In [65]:
m1 = m1.iloc[5:-2]

In [66]:
m1.index.name = None

In [67]:
m1.index = m1.index.str.replace('ENE', '1')
m1.index = m1.index.str.replace('FEB', '2')
m1.index = m1.index.str.replace('MAR', '3')
m1.index = m1.index.str.replace('ABR', '4')
m1.index = m1.index.str.replace('MAY', '5')
m1.index = m1.index.str.replace('JUN', '6')
m1.index = m1.index.str.replace('JUL', '7')
m1.index = m1.index.str.replace('AGO', '8')
m1.index = m1.index.str.replace('SEP', '9')
m1.index = m1.index.str.replace('OCT', '10')
m1.index = m1.index.str.replace('NOV', '11')
m1.index = m1.index.str.replace('DIC', '12')

m1

        D_MESM1EELIPBIF
9 1997            89450
10 1997           88382
11 1997           93197
12 1997           95346
1 1998            89496
...                 ...
2 2021          1230359
3 2021          1241234
4 2021          1245462
5 2021          1262044
6 2021          1299472

[286 rows x 1 columns]

In [70]:
m1.index = pd.to_datetime(m1.index, format='%m %Y')

AttributeError: module 'pandas' has no attribute 'to_date'

In [71]:
m1

           D_MESM1EELIPBIF
1997-09-01           89450
1997-10-01           88382
1997-11-01           93197
1997-12-01           95346
1998-01-01           89496
...                    ...
2021-02-01         1230359
2021-03-01         1241234
2021-04-01         1245462
2021-05-01         1262044
2021-06-01         1299472

[286 rows x 1 columns]

In [82]:
ecb_codes = {
            'M1': ['https://www.bde.es/webbde/es/estadis/infoest/series/be0113.csv', 'millions', 'D_MESM1EELIPBIF'],
            'M2': ['https://www.bde.es/webbde/es/estadis/infoest/series/be0113.csv', 'millions', 'D_MESM2EELIPBIF'],
            'M3': ['https://www.bde.es/webbde/es/estadis/infoest/series/be0113.csv', 'millions', 'D_MESM3EELIPBIF']
        }

In [83]:
new_dataframe = pd.read_csv(ecb_codes(value)[0], encoding="ISO-8859-1")

NameError: name 'value' is not defined