In [40]:
import requests     # 2.18.4
import pandas as pd # 0.23.0
import io

In [63]:
df = Request('ECB').data(
    resource_id='EXR',
    key='D.CHF.EUR.SP00.A',
).write()

In [42]:
df

FREQ  CURRENCY  CURRENCY_DENOM  EXR_TYPE  EXR_SUFFIX  TIME_PERIOD
D     CHF       EUR             SP00      A           1999-01-04     1.6168
                                                      1999-01-05     1.6123
                                                      1999-01-06     1.6116
                                                      1999-01-07     1.6165
                                                      1999-01-08     1.6138
                                                                      ...
                                                      2021-08-23     1.0744
                                                      2021-08-24     1.0711
                                                      2021-08-25     1.0739
                                                      2021-08-26     1.0789
                                                      2021-08-27     1.0796
Name: value, Length: 5862, dtype: float64

In [43]:
df.index = df.index.get_level_values('TIME_PERIOD')

In [44]:
df2 = pd.DataFrame(data=df)

In [60]:
df2

              value
TIME_PERIOD
1999-01-04   1.6168
1999-01-05   1.6123
1999-01-06   1.6116
1999-01-07   1.6165
1999-01-08   1.6138
...             ...
2021-08-23   1.0744
2021-08-24   1.0711
2021-08-25   1.0739
2021-08-26   1.0789
2021-08-27   1.0796

[5862 rows x 1 columns]

In [47]:
df.index.inferred_type == "datetime64"

'string'

In [67]:
key = 'EXR.D.CHF.EUR.SP00.A'

In [75]:
splitted_key = key.split('.', 1)
series = Request('ECB').data(resource_id=splitted_key[0], key=splitted_key[1]).write()
series.index = series.index.get_level_values('TIME_PERIOD')
series = pd.DataFrame(data=series)
series.index.name = None
series.rename(columns={'value': key}, inplace=True)
series

            EXR.D.CHF.EUR.SP00.A
1999-01-04                1.6168
1999-01-05                1.6123
1999-01-06                1.6116
1999-01-07                1.6165
1999-01-08                1.6138
...                          ...
2021-08-23                1.0744
2021-08-24                1.0711
2021-08-25                1.0739
2021-08-26                1.0789
2021-08-27                1.0796

[5862 rows x 1 columns]

In [94]:
ecb_codes = {
            'M1': ['BSI.M.U2.N.V.M10.X.1.U2.2300.Z01.E', 'millions']
        }

In [97]:
splitted_key = list(ecb_codes.values())[0][0]
splitted_key

'BSI.M.U2.N.V.M10.X.1.U2.2300.Z01.E'