In [7]:
import sqlite3
import pandas as pd

import sys, os

# Helpers
abspath = os.path.abspath
dirname = os.path.dirname
sep = os.sep

import warnings
warnings.filterwarnings("ignore")

In [17]:
dfs = {}
data_path = "../data/usa"

for file_ in os.listdir(data_path):
    dfs[file_[:-8].lower()] = pd.read_parquet(data_path + sep + file_)

In [57]:
full_df = pd.concat(dfs.values(), axis = 1)
full_df.reset_index(inplace = True)
full_df = full_df.rename({"index" : "date"}, axis = 1)
full_df.head()

,date,UNRATENSA,NA000334Q,M2V,LNU03000000,M2NS,USSTHPI,M1V,PCEPI,IPB50001N,M1NS,CUUR0000SA0R,CPIAUCNS
0,1913-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1017.8,9.8
1,1913-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1021.4,9.8
2,1913-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1021.4,9.8
3,1913-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1017.8,9.8
4,1913-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1025.0,9.7

# Database & Tables Creation

In [77]:
# Connection to database
connection = sqlite3.connect(".." + sep + "data" + sep + "moneyprintersgobrr.db")

full_df.to_sql("usa", connection, index = False)

In [75]:
def get_data(x, country):
    query = f'''
    SELECT date, {x}
    FROM {country}
    '''

    result = pd.read_sql_query(query, connection).dropna()
    result.date = pd.to_datetime(result.date)
    return result.set_index("date")

In [79]:
get_data("M2V", "usa")

              M2V
date
1959-01-01  1.773
1959-04-01  1.789
1959-07-01  1.773
1959-10-01  1.779
1960-01-01  1.817
...           ...
2020-04-01  1.100
2020-07-01  1.147
2020-10-01  1.134
2021-01-01  1.121
2021-04-01  1.120

[250 rows x 1 columns]

# MariaDB AWS database

In [ ]:
db_settings = {
                "IP_DNS": "moneyprintersgobrr.c8r7otayptqb.eu-west-3.rds.amazonaws.com",
                "USER": "administrador",
                "PASSWORD": "QiDjwVsKn7RWRUMfa47j",
                "DB_NAME": "moneyprintersgobrr",
                "PORT": 3306
            }

IP_DNS = db_settings["IP_DNS"]
USER = db_settings["USER"]
PASSWORD = db_settings["PASSWORD"]
DB_NAME = db_settings["DB_NAME"]
PORT = db_settings["PORT"]