In [1]:
import mariadb
import pandas as pd
from sqlalchemy import create_engine
import sys, os

# Helpers
abspath = os.path.abspath
dirname = os.path.dirname
sep = os.sep

import warnings
warnings.filterwarnings("ignore")

In [ ]:
dfs = {}
data_path = "../data/usa"

for file_ in os.listdir(data_path):
    dfs[file_[:-8].lower()] = pd.read_parquet(data_path + sep + file_)

In [ ]:
full_df = pd.concat(dfs.values(), axis = 1)
full_df.reset_index(inplace = True)
full_df = full_df.rename({"index" : "date"}, axis = 1)
full_df.head()

,date,CPIAUCNS,CUUR0000SA0R,IPB50001N,LNU03000000,M1NS,M1V,M2NS,M2V,NA000334Q,PCEPI,UNRATENSA,USSTHPI
0,1913-01-01,9.8,1017.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1913-02-01,9.8,1021.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1913-03-01,9.8,1021.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1913-04-01,9.8,1017.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1913-05-01,9.7,1025.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Database & Tables Creation

In [2]:
# Connect to MariaDB Platform
try:
    conn = mariadb.connect(
        user="administrador",
        password="Xit7WdQ3YniY6YttHzBu",
        host="moneyprintersgobrr.c8r7otayptqb.eu-west-3.rds.amazonaws.com",
        port=3306,
        database="moneyprintersgobrr"

    )

    engine = create_engine(
        "mariadb+mariadbconnector://administrador:Xit7WdQ3YniY6YttHzBu@moneyprintersgobrr.c8r7otayptqb.eu-west-3.rds.amazonaws.com:3306/moneyprintersgobrr"
    )

except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    sys.exit(1)

# Get Cursor
cur = conn.cursor()

In [3]:
cur.execute('CREATE TABLE USA2')

ProgrammingError: A table must have at least 1 column

In [28]:
full_df.to_sql('USA', engine, index=False)

In [33]:
def get_data(x, country):
    query = f'''
    SELECT date, {x}
    FROM {country}
    '''

    result = pd.read_sql_query(query, engine).dropna()
    result.date = pd.to_datetime(result.date)
    return result.set_index("date")

In [34]:
get_data("M2V", "USA")

              M2V
date
1959-01-01  1.773
1959-04-01  1.789
1959-07-01  1.773
1959-10-01  1.779
1960-01-01  1.817
...           ...
2020-04-01  1.100
2020-07-01  1.147
2020-10-01  1.134
2021-01-01  1.121
2021-04-01  1.120

[250 rows x 1 columns]

# MariaDB AWS database

In [ ]:
db_settings = {
                "IP_DNS": "moneyprintersgobrr.c8r7otayptqb.eu-west-3.rds.amazonaws.com",
                "USER": "administrador",
                "PASSWORD": "QiDjwVsKn7RWRUMfa47j",
                "DB_NAME": "moneyprintersgobrr",
                "PORT": 3306
            }

IP_DNS = db_settings["IP_DNS"]
USER = db_settings["USER"]
PASSWORD = db_settings["PASSWORD"]
DB_NAME = db_settings["DB_NAME"]
PORT = db_settings["PORT"]