In [9]:
import pandas as pd

In [10]:
cpi = pd.read_parquet(r'C:\Users\serra\REPOSITORIOS\moneyprintersgobrr\data\usa\CPIAUCNS\CPIAUCNS.parquet')

In [11]:
cpi

            CPIAUCNS
1913-01-01     9.800
1913-02-01     9.800
1913-03-01     9.800
1913-04-01     9.800
1913-05-01     9.700
...              ...
2021-03-01   264.877
2021-04-01   267.054
2021-05-01   269.195
2021-06-01   271.696
2021-07-01   273.003

[1303 rows x 1 columns]

In [13]:
cpi.asfreq('QS')

            CPIAUCNS
1913-01-01     9.800
1913-04-01     9.800
1913-07-01     9.900
1913-10-01    10.000
1914-01-01    10.000
...              ...
2020-07-01   259.101
2020-10-01   260.388
2021-01-01   261.582
2021-04-01   267.054
2021-07-01   273.003

[435 rows x 1 columns]