In [9]:
import pandas as pd

In [10]:
cpi = pd.read_parquet(r'C:\Users\serra\REPOSITORIOS\moneyprintersgobrr\data\usa\CPIAUCNS\CPIAUCNS.parquet')

In [11]:
cpi

            CPIAUCNS
1913-01-01     9.800
1913-02-01     9.800
1913-03-01     9.800
1913-04-01     9.800
1913-05-01     9.700
...              ...
2021-03-01   264.877
2021-04-01   267.054
2021-05-01   269.195
2021-06-01   271.696
2021-07-01   273.003

[1303 rows x 1 columns]

In [13]:
cpi.asfreq('QS')

            CPIAUCNS
1913-01-01     9.800
1913-04-01     9.800
1913-07-01     9.900
1913-10-01    10.000
1914-01-01    10.000
...              ...
2020-07-01   259.101
2020-10-01   260.388
2021-01-01   261.582
2021-04-01   267.054
2021-07-01   273.003

[435 rows x 1 columns]

In [4]:
import psycopg2
try:
    connection = psycopg2.connect(user="admin",
                                  password="quest",
                                  host="127.0.0.1",
                                  port="8812",
                                  database="qdb")

    cursor = connection.cursor()
    # Print PostgreSQL Connection properties
    print(connection.get_dsn_parameters(), "\n")

    # Print PostgreSQL version
    cursor.execute("SELECT version();")
    record = cursor.fetchone()
    print("You are connected to - ", record, "\n")

except (Exception, psycopg2.Error) as error:
    print("Error while connecting to PostgreSQL", error)
finally:
    #closing database connection.
    if (connection):
        cursor.close()
        connection.close()
        print("PostgreSQL connection is closed")

{'user': 'admin', 'channel_binding': 'prefer', 'dbname': 'qdb', 'host': '127.0.0.1', 'port': '8812', 'tty': '', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'ssl_min_protocol_version': 'TLSv1.2', 'gssencmode': 'disable', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

You are connected to -  ('PostgreSQL 12.3, compiled by Visual C++ build 1914, 64-bit',)

PostgreSQL connection is closed

In [6]:
import time
import socket

HOST = 'localhost'
PORT = 9009
# For UDP, change socket.SOCK_STREAM to socket.SOCK_DGRAM
sock = socket.socket(socket.AF_INET, socket.SOCK_STREAM)

try:
  sock.connect((HOST, PORT))
  # Single record insert
  sock.sendall(('trades,name=client_timestamp value=12.4 %d\n' %(time.time_ns())).encode())
  # Omitting the timestamp allows the server to assign one
  sock.sendall(('trades,name=server_timestamp value=12.4\n').encode())
  # Streams of readings must be newline-delimited
  sock.sendall(('trades,name=ilp_stream_1 value=12.4\ntrades,name=ilp_stream_2 value=11.4\n').encode())

except socket.error as e:
  print("Got error: %s" % (e))

sock.close()