In [1]:
import pandas as pd

In [5]:
un = pd.read_parquet(r'C:\Users\serra\REPOSITORIOS\moneyprintersgobrr\data\usa\LNU03000000\LNU03000000.parquet')

In [9]:
un.select_dtypes(include=['number'])

            LNU03000000
1948-01-01       2351.0
1948-02-01       2807.0
1948-03-01       2646.0
1948-04-01       2407.0
1948-05-01       2014.0
...                 ...
2021-03-01       9905.0
2021-04-01       9220.0
2021-05-01       8829.0
2021-06-01       9883.0
2021-07-01       9221.0

[883 rows x 1 columns]