In [1]:
import pandas as pd
from datetime import *
import numpy as np

In [2]:
def read_data(path: str):
    try:
        return pd.read_parquet(path)
    except:
        initial_path = r'/app/moneyprintersgobrr/'
        path_2 = path[3:]
        return pd.read_parquet(initial_path + path_2)

In [3]:
cpi = read_data(r'../02-Data/CPI/cpi.parquet')
m2 = read_data(r'../02-Data/M2/m2.parquet')

In [4]:
cpi

              Value
1959-01-01   29.000
1959-02-01   28.900
1959-03-01   28.900
1959-04-01   29.000
1959-05-01   29.000
...             ...
2021-02-01  263.014
2021-03-01  264.877
2021-04-01  267.054
2021-05-01  269.195
2021-06-01  271.696

[750 rows x 1 columns]

In [24]:
def filter_between_dates(df, from_date, to_date, date_format='%Y-%m-%d'):

    mask = (df.index >= datetime.strptime(from_date, date_format)) & \
               (df.index <= datetime.strptime(to_date, date_format))

    filtered_df = df.loc[mask]

    return filtered_df

In [33]:
def two_variables_correlation(df1, df2, start_date, end_date):
    start_date_str = str(start_date)
    end_date_str = str(end_date)
    correlation_list = []
    for value in range(1, 25):
        
        df1_filter = filter_between_dates(df1, start_date_str, end_date_str)
        df2_filter = filter_between_dates(df2, start_date_str, end_date_str)
        
        df1_filter_pct_change = df1_filter.pct_change(12).dropna()
        df2_filter_pct_change = df2_filter.pct_change(value).dropna()
        
        df = pd.concat([df1_filter_pct_change, df1_filter_pct_change], axis=1).dropna()
        
        df_corr = df.corr()
        
        correlation_value = df_corr.iloc[1, 0]
        
        correlation_list.append(correlation_value)
        
    return df_corr

In [34]:
two_variables_correlation(cpi, m2, '1940-01-01', '2030-01-01')

       Value  Value
Value    1.0    1.0
Value    1.0    1.0